<div id="swagger-ui-container" class="swagger-ui-wrap">
<div class="container" id="resources_container">
<ul id="resources">
<li id="resource_account" class="resource active">
<div class="heading">
    <h2>
        <a href="#!/account" onclick="Docs.toggleEndpointListForResource('account');">/account</a>
    </h2>
    <ul class="options">
        <li>
            <a href="#!/account" id="endpointListTogger_account"
               onclick="Docs.toggleEndpointListForResource('account');">Show/Hide</a>
        </li>
        <li>
            <a href="#" onclick="Docs.collapseOperationsForResource('account'); return false;">
                List Operations
            </a>
        </li>
        <li>
            <a href="#" onclick="Docs.expandOperationsForResource('account'); return false;">
                Expand Operations
            </a>
        </li>
        <li>
            <a href="http://developer.wordnik.com/v4/account.json?api_key=a2a73e7b926c924fad7001ca3111acd55af2ffabf50eb4ae5">Raw</a>
        </li>
    </ul>
</div>
<ul class="endpoints" id="account_endpoint_list" style="display: block;">

<li class="endpoint">
    <ul class="operations">
        <li class="get operation" id="account_authenticate_get_0">
            <div class="heading">
                <h3>
                  <span class="http_method">
                    <a href="#!/account/authenticate_get_0" class="toggleOperation">get</a>
                  </span>
                  <span class="path">
                    <a href="#!/account/authenticate_get_0" class="toggleOperation">/account.json/authenticate/{username}</a>
                  </span>
                </h3>
                <ul class="options">
                    <li>
                        <a href="#!/account/authenticate_get_0" class="toggleOperation">Authenticates a User</a>
                    </li>
                </ul>
            </div>
            <div class="content" id="account_authenticate_get_0_content" style="display:none">


                <h4>Response Class</h4>

                <p><span class="model-signature"><div>
                    <div>
                        <ul class="signature-nav">
                            <li><a class="description-link selected" href="#">Model</a></li>
                            <li><a class="snippet-link" href="#">Model Schema</a></li>
                        </ul>
                        <div>

                            <div class="signature-container">
                                <div class="description" style="display: block;">
                                    <span style="font-weight: bold; color: #000; font-size: 1.1em">AuthenticationToken</span><br><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">class AuthenticationToken(</span><span>token: string</span>,
                                    <span>userId: long</span>, <span>userSignature: string</span><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">)</span>
                                </div>

                                <div class="snippet" style="display: none;">
        <pre><code class="json">{
            "<span class="attribute">token</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">userId</span>": <span class="value"><span class="string">"long"</span></span>,
            "<span class="attribute">userSignature</span>": <span class="value"><span class="string">"string"</span>
}</span></code></pre>
                                    <small class="notice"></small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div></span></p>
                <br>

                <div class="content-type">
                    <div><label for="contentType">Response Content Type</label>
                        <select name="contentType">

                            <option value="application/json">application/json</option>

                        </select>
                    </div>
                </div>

                <form accept-charset="UTF-8" class="sandbox">
                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Parameters</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th style="width: 100px; max-width: 100px">Parameter</th>
                            <th style="width: 310px; max-width: 310px">Value</th>
                            <th style="width: 200px; max-width: 200px">Description</th>
                            <th style="width: 320px; max-width: 330px">Data Type</th>
                        </tr>
                        </thead>
                        <tbody class="operation-params">

                        <tr>
                            <td class="code required">username</td>
                            <td>


                                <input class="required" minlength="1" name="username" placeholder="(required)"
                                       type="text" value="">


                            </td>
                            <td>
                                <strong>A confirmed Wordnik username</strong>
                            </td>
                            <td><span class="model-signature">string</span></td>
                        </tr>
                        <tr>
                            <td class="code required">password</td>
                            <td>


                                <input class="required" minlength="1" name="password" placeholder="(required)"
                                       type="text" value="">


                            </td>
                            <td>
                                <strong>The user's password</strong>
                            </td>
                            <td><span class="model-signature">string</span></td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Status Codes</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th>HTTP Status Code</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody class="operation-status">

                        <tr>
                            <td width="15%" class="code">403</td>
                            <td>Account not available.</td>

                        </tr>
                        <tr>
                            <td width="15%" class="code">404</td>
                            <td>User not found.</td>

                        </tr>
                        </tbody>
                    </table>


                    <div class="sandbox_header">
                        <input class="submit" name="commit" type="button" value="Try it out!">
                        <a href="#" class="response_hider" style="display:none">Hide Response</a>
                        <img alt="Throbber" class="response_throbber" src="images/throbber.gif" style="display:none">
                    </div>

                </form>
                <div class="response" style="display:none">
                    <h4>Request URL</h4>

                    <div class="block request_url"></div>
                    <h4>Response Body</h4>

                    <div class="block response_body"></div>
                    <h4>Response Code</h4>

                    <div class="block response_code"></div>
                    <h4>Response Headers</h4>

                    <div class="block response_headers"></div>
                </div>
            </div>
        </li>
    </ul>
</li>
<li class="endpoint">
    <ul class="operations">
        <li class="post operation" id="account_authenticatePost_post_1">
            <div class="heading">
                <h3>
                  <span class="http_method">
                    <a href="#!/account/authenticatePost_post_1" class="toggleOperation">post</a>
                  </span>
                  <span class="path">
                    <a href="#!/account/authenticatePost_post_1" class="toggleOperation">/account.json/authenticate/{username}</a>
                  </span>
                </h3>
                <ul class="options">
                    <li>
                        <a href="#!/account/authenticatePost_post_1" class="toggleOperation">Authenticates a user</a>
                    </li>
                </ul>
            </div>
            <div class="content" id="account_authenticatePost_post_1_content" style="display:none">


                <h4>Response Class</h4>

                <p><span class="model-signature"><div>
                    <div>
                        <ul class="signature-nav">
                            <li><a class="description-link selected" href="#">Model</a></li>
                            <li><a class="snippet-link" href="#">Model Schema</a></li>
                        </ul>
                        <div>

                            <div class="signature-container">
                                <div class="description" style="display: block;">
                                    <span style="font-weight: bold; color: #000; font-size: 1.1em">AuthenticationToken</span><br><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">class AuthenticationToken(</span><span>token: string</span>,
                                    <span>userId: long</span>, <span>userSignature: string</span><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">)</span>
                                </div>

                                <div class="snippet" style="display: none;">
        <pre><code class="json">{
            "<span class="attribute">token</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">userId</span>": <span class="value"><span class="string">"long"</span></span>,
            "<span class="attribute">userSignature</span>": <span class="value"><span class="string">"string"</span>
}</span></code></pre>
                                    <small class="notice"></small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div></span></p>
                <br>

                <div class="content-type">
                    <div><label for="contentType">Response Content Type</label>
                        <select name="contentType">

                            <option value="application/json">application/json</option>

                        </select>
                    </div>
                </div>

                <form accept-charset="UTF-8" class="sandbox">
                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Parameters</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th style="width: 100px; max-width: 100px">Parameter</th>
                            <th style="width: 310px; max-width: 310px">Value</th>
                            <th style="width: 200px; max-width: 200px">Description</th>
                            <th style="width: 320px; max-width: 330px">Data Type</th>
                        </tr>
                        </thead>
                        <tbody class="operation-params">

                        <tr>
                            <td class="code required">username</td>
                            <td>


                                <input class="required" minlength="1" name="username" placeholder="(required)"
                                       type="text" value="">


                            </td>
                            <td>
                                <strong>A confirmed Wordnik username</strong>
                            </td>
                            <td><span class="model-signature">string</span></td>
                        </tr>
                        <tr>
                            <td class="code required">string</td>
                            <td>


                                <textarea class="body-textarea" placeholder="(required)" name="string"></textarea>
                                <br>

                                <div class="content-type">
                                    <div><label for="contentType">Parameter content type:</label>
                                        <select name="contentType">

                                            <option value="application/json">application/json</option>

                                        </select>
                                    </div>
                                </div>


                            </td>
                            <td>
                                <strong>The user's password</strong>
                            </td>
                            <td><span class="model-signature">string</span></td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Status Codes</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th>HTTP Status Code</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody class="operation-status">

                        <tr>
                            <td width="15%" class="code">403</td>
                            <td>Account not available.</td>

                        </tr>
                        <tr>
                            <td width="15%" class="code">404</td>
                            <td>User not found.</td>

                        </tr>
                        </tbody>
                    </table>


                    <div class="sandbox_header">
                        <input class="submit" name="commit" type="button" value="Try it out!">
                        <a href="#" class="response_hider" style="display:none">Hide Response</a>
                        <img alt="Throbber" class="response_throbber" src="images/throbber.gif" style="display:none">
                    </div>

                </form>
                <div class="response" style="display:none">
                    <h4>Request URL</h4>

                    <div class="block request_url"></div>
                    <h4>Response Body</h4>

                    <div class="block response_body"></div>
                    <h4>Response Code</h4>

                    <div class="block response_code"></div>
                    <h4>Response Headers</h4>

                    <div class="block response_headers"></div>
                </div>
            </div>
        </li>
    </ul>
</li>
<li class="endpoint">
    <ul class="operations">
        <li class="get operation" id="account_getWordListsForLoggedInUser_get_2">
            <div class="heading">
                <h3>
                  <span class="http_method">
                    <a href="#!/account/getWordListsForLoggedInUser_get_2" class="toggleOperation">get</a>
                  </span>
                  <span class="path">
                    <a href="#!/account/getWordListsForLoggedInUser_get_2" class="toggleOperation">/account.json/wordLists</a>
                  </span>
                </h3>
                <ul class="options">
                    <li>
                        <a href="#!/account/getWordListsForLoggedInUser_get_2" class="toggleOperation">Fetches WordList
                            objects for the logged-in user.</a>
                    </li>
                </ul>
            </div>
            <div class="content" id="account_getWordListsForLoggedInUser_get_2_content" style="display: none;">


                <h4>Response Class</h4>

                <p><span class="model-signature"><div>
                    <div>
                        <ul class="signature-nav">
                            <li><a class="description-link selected" href="#">Model</a></li>
                            <li><a class="snippet-link" href="#">Model Schema</a></li>
                        </ul>
                        <div>

                            <div class="signature-container">
                                <div class="description" style="display: block;">
                                    <span style="font-weight: bold; color: #000; font-size: 1.1em">List[WordList]</span><br><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">class WordList(</span><span>id: long</span>,
                                    <span>permalink: string</span>, <span>name: string</span>,
                                    <span>createdAt: Date</span>, <span>updatedAt: Date</span>, <span>lastActivityAt: Date</span>,
                                    <span>username: string</span>, <span>userId: long</span>,
                                    <span>description: string</span>, <span>numberWordsInList: long</span>, <span>type: string</span><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">)</span>
                                </div>

                                <div class="snippet" style="display: none;">
        <pre><code class="json">[
            {
            "<span class="attribute">id</span>": <span class="value"><span class="string">"long"</span></span>,
            "<span class="attribute">permalink</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">name</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">createdAt</span>": <span class="value"><span class="string">"Date"</span></span>,
            "<span class="attribute">updatedAt</span>": <span class="value"><span class="string">"Date"</span></span>,
            "<span class="attribute">lastActivityAt</span>": <span class="value"><span
                    class="string">"Date"</span></span>,
            "<span class="attribute">username</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">userId</span>": <span class="value"><span class="string">"long"</span></span>,
            "<span class="attribute">description</span>": <span class="value"><span
                    class="string">"string"</span></span>,
            "<span class="attribute">numberWordsInList</span>": <span class="value"><span
                    class="string">"long"</span></span>,
            "<span class="attribute">type</span>": <span class="value"><span class="string">"string"</span>
  }</span>
            ]</code></pre>
                                    <small class="notice"></small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div></span></p>
                <br>

                <div class="content-type">
                    <div><label for="contentType">Response Content Type</label>
                        <select name="contentType">

                            <option value="application/json">application/json</option>

                        </select>
                    </div>
                </div>

                <form accept-charset="UTF-8" class="sandbox">
                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Parameters</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th style="width: 100px; max-width: 100px">Parameter</th>
                            <th style="width: 310px; max-width: 310px">Value</th>
                            <th style="width: 200px; max-width: 200px">Description</th>
                            <th style="width: 320px; max-width: 330px">Data Type</th>
                        </tr>
                        </thead>
                        <tbody class="operation-params">

                        <tr>
                            <td class="code required">auth_token</td>
                            <td>


                                <input class="required" minlength="1" name="auth_token" placeholder="(required)"
                                       type="text" value="">


                            </td>
                            <td>
                                <strong>auth_token of logged-in user</strong>
                            </td>
                            <td><span class="model-signature">string</span></td>
                        </tr>
                        <tr>
                            <td class="code">skip</td>
                            <td>


                                <input minlength="0" name="skip" placeholder="" type="text" value="0">


                            </td>
                            <td>Results to skip</td>
                            <td>
                                <span class="model-signature">int</span>
                            </td>

                        </tr>
                        <tr>
                            <td class="code">limit</td>
                            <td>


                                <input minlength="0" name="limit" placeholder="" type="text" value="50">


                            </td>
                            <td>Maximum number of results to return</td>
                            <td>
                                <span class="model-signature">int</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Status Codes</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th>HTTP Status Code</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody class="operation-status">

                        <tr>
                            <td width="15%" class="code">403</td>
                            <td>Not authenticated.</td>

                        </tr>
                        <tr>
                            <td width="15%" class="code">404</td>
                            <td>User account not found.</td>

                        </tr>
                        </tbody>
                    </table>


                    <div class="sandbox_header">
                        <input class="submit" name="commit" type="button" value="Try it out!">
                        <a href="#" class="response_hider" style="display:none">Hide Response</a>
                        <img alt="Throbber" class="response_throbber" src="images/throbber.gif" style="display:none">
                    </div>

                </form>
                <div class="response" style="display:none">
                    <h4>Request URL</h4>

                    <div class="block request_url"></div>
                    <h4>Response Body</h4>

                    <div class="block response_body"></div>
                    <h4>Response Code</h4>

                    <div class="block response_code"></div>
                    <h4>Response Headers</h4>

                    <div class="block response_headers"></div>
                </div>
            </div>
        </li>
    </ul>
</li>
<li class="endpoint">
    <ul class="operations">
        <li class="get operation" id="account_getApiTokenStatus_get_3">
            <div class="heading">
                <h3>
                  <span class="http_method">
                    <a href="#!/account/getApiTokenStatus_get_3" class="toggleOperation">get</a>
                  </span>
                  <span class="path">
                    <a href="#!/account/getApiTokenStatus_get_3"
                       class="toggleOperation">/account.json/apiTokenStatus</a>
                  </span>
                </h3>
                <ul class="options">
                    <li>
                        <a href="#!/account/getApiTokenStatus_get_3" class="toggleOperation">Returns usage statistics
                            for the API account.</a>
                    </li>
                </ul>
            </div>
            <div class="content" id="account_getApiTokenStatus_get_3_content" style="display:none">


                <h4>Response Class</h4>

                <p><span class="model-signature"><div>
                    <div>
                        <ul class="signature-nav">
                            <li><a class="description-link selected" href="#">Model</a></li>
                            <li><a class="snippet-link" href="#">Model Schema</a></li>
                        </ul>
                        <div>

                            <div class="signature-container">
                                <div class="description" style="display: block;">
                                    <span style="font-weight: bold; color: #000; font-size: 1.1em">ApiTokenStatus</span><br><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">class ApiTokenStatus(</span><span>valid: boolean</span>,
                                    <span>token: string</span>, <span>resetsInMillis: long</span>, <span>remainingCalls: long</span>,
                                    <span>expiresInMillis: long</span>, <span>totalRequests: long</span><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">)</span>
                                </div>

                                <div class="snippet" style="display: none;">
        <pre><code class="json">{
            "<span class="attribute">valid</span>": <span class="value"><span class="string">"boolean"</span></span>,
            "<span class="attribute">token</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">resetsInMillis</span>": <span class="value"><span
                    class="string">"long"</span></span>,
            "<span class="attribute">remainingCalls</span>": <span class="value"><span
                    class="string">"long"</span></span>,
            "<span class="attribute">expiresInMillis</span>": <span class="value"><span
                    class="string">"long"</span></span>,
            "<span class="attribute">totalRequests</span>": <span class="value"><span class="string">"long"</span>
}</span></code></pre>
                                    <small class="notice"></small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div></span></p>
                <br>

                <div class="content-type">
                    <div><label for="contentType">Response Content Type</label>
                        <select name="contentType">

                            <option value="application/json">application/json</option>

                        </select>
                    </div>
                </div>

                <form accept-charset="UTF-8" class="sandbox">
                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Parameters</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th style="width: 100px; max-width: 100px">Parameter</th>
                            <th style="width: 310px; max-width: 310px">Value</th>
                            <th style="width: 200px; max-width: 200px">Description</th>
                            <th style="width: 320px; max-width: 330px">Data Type</th>
                        </tr>
                        </thead>
                        <tbody class="operation-params">

                        <tr>
                            <td class="code">api_key</td>
                            <td>


                                <input minlength="0" name="api_key" placeholder="" type="text" value="">


                            </td>
                            <td>Wordnik authentication token</td>
                            <td>
                                <span class="model-signature">string</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Status Codes</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th>HTTP Status Code</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody class="operation-status">

                        <tr>
                            <td width="15%" class="code">400</td>
                            <td>No token supplied.</td>

                        </tr>
                        <tr>
                            <td width="15%" class="code">404</td>
                            <td>No API account with supplied token.</td>

                        </tr>
                        </tbody>
                    </table>


                    <div class="sandbox_header">
                        <input class="submit" name="commit" type="button" value="Try it out!">
                        <a href="#" class="response_hider" style="display:none">Hide Response</a>
                        <img alt="Throbber" class="response_throbber" src="images/throbber.gif" style="display:none">
                    </div>

                </form>
                <div class="response" style="display:none">
                    <h4>Request URL</h4>

                    <div class="block request_url"></div>
                    <h4>Response Body</h4>

                    <div class="block response_body"></div>
                    <h4>Response Code</h4>

                    <div class="block response_code"></div>
                    <h4>Response Headers</h4>

                    <div class="block response_headers"></div>
                </div>
            </div>
        </li>
    </ul>
</li>
<li class="endpoint">
    <ul class="operations">
        <li class="get operation" id="account_getLoggedInUser_get_4">
            <div class="heading">
                <h3>
                  <span class="http_method">
                    <a href="#!/account/getLoggedInUser_get_4" class="toggleOperation">get</a>
                  </span>
                  <span class="path">
                    <a href="#!/account/getLoggedInUser_get_4" class="toggleOperation">/account.json/user</a>
                  </span>
                </h3>
                <ul class="options">
                    <li>
                        <a href="#!/account/getLoggedInUser_get_4" class="toggleOperation">Returns the logged-in
                            User</a>
                    </li>
                </ul>
            </div>
            <div class="content" id="account_getLoggedInUser_get_4_content" style="display:none">

                <h4>Implementation Notes</h4>

                <p>Requires a valid auth_token to be set.</p>


                <h4>Response Class</h4>

                <p><span class="model-signature"><div>
                    <div>
                        <ul class="signature-nav">
                            <li><a class="description-link selected" href="#">Model</a></li>
                            <li><a class="snippet-link" href="#">Model Schema</a></li>
                        </ul>
                        <div>

                            <div class="signature-container">
                                <div class="description" style="display: block;">
                                    <span style="font-weight: bold; color: #000; font-size: 1.1em">User</span><br><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">class User(</span><span>id: long</span>,
                                    <span>username: string</span>, <span>email: string</span>, <span>status: int</span>,
                                    <span>faceBookId: string</span>, <span>userName: string</span>, <span>displayName: string</span>,
                                    <span>password: string</span><span
                                        style="font-weight: bold; color: #000; font-size: 1.0em">)</span>
                                </div>

                                <div class="snippet" style="display: none;">
        <pre><code class="json">{
            "<span class="attribute">id</span>": <span class="value"><span class="string">"long"</span></span>,
            "<span class="attribute">username</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">email</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">status</span>": <span class="value"><span class="string">"int"</span></span>,
            "<span class="attribute">faceBookId</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">userName</span>": <span class="value"><span class="string">"string"</span></span>,
            "<span class="attribute">displayName</span>": <span class="value"><span
                    class="string">"string"</span></span>,
            "<span class="attribute">password</span>": <span class="value"><span class="string">"string"</span>
}</span></code></pre>
                                    <small class="notice"></small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div></span></p>
                <br>

                <div class="content-type">
                    <div><label for="contentType">Response Content Type</label>
                        <select name="contentType">

                            <option value="application/json">application/json</option>

                        </select>
                    </div>
                </div>

                <form accept-charset="UTF-8" class="sandbox">
                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Parameters</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th style="width: 100px; max-width: 100px">Parameter</th>
                            <th style="width: 310px; max-width: 310px">Value</th>
                            <th style="width: 200px; max-width: 200px">Description</th>
                            <th style="width: 320px; max-width: 330px">Data Type</th>
                        </tr>
                        </thead>
                        <tbody class="operation-params">

                        <tr>
                            <td class="code required">auth_token</td>
                            <td>


                                <input class="required" minlength="1" name="auth_token" placeholder="(required)"
                                       type="text" value="">


                            </td>
                            <td>
                                <strong>The auth token of the logged-in user, obtained by calling
                                    /account.{format}/authenticate/{username} (described above)</strong>
                            </td>
                            <td><span class="model-signature">string</span></td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="margin:0;padding:0;display:inline"></div>
                    <h4>Status Codes</h4>
                    <table class="fullwidth">
                        <thead>
                        <tr>
                            <th>HTTP Status Code</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody class="operation-status">

                        <tr>
                            <td width="15%" class="code">403</td>
                            <td>Not logged in.</td>

                        </tr>
                        <tr>
                            <td width="15%" class="code">404</td>
                            <td>User not found.</td>

                        </tr>
                        </tbody>
                    </table>


                    <div class="sandbox_header">
                        <input class="submit" name="commit" type="button" value="Try it out!">
                        <a href="#" class="response_hider" style="display:none">Hide Response</a>
                        <img alt="Throbber" class="response_throbber" src="images/throbber.gif" style="display:none">
                    </div>

                </form>
                <div class="response" style="display:none">
                    <h4>Request URL</h4>

                    <div class="block request_url"></div>
                    <h4>Response Body</h4>

                    <div class="block response_body"></div>
                    <h4>Response Code</h4>

                    <div class="block response_code"></div>
                    <h4>Response Headers</h4>

                    <div class="block response_headers"></div>
                </div>
            </div>
        </li>
    </ul>
</li>
</ul>
</li>
</ul>
</div>
</div>